* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a {
    background-color: orange;
    color: black;
}

body {
    background-color: darkorange;
}

div, header {
    background-color: orange;
    border-style: double;
}

h1 {
    text-align: center;
}

h4 {
    padding-left: 5%;
}

img {
    width: 100%;
    height: auto;
    border-style: double;
    border-width: 5px;
}

li {
    font-size: large;
}

.recipe-list {

}