* {
    font-family: 'Courier New', Courier, monospace;   
}

body {
    background-color: darkorange;
}

div {
    background-color: orange;
    border-style: double;
}

h1 {
    text-align: center;
}

h4 {
    padding-left: 5%;
}

img {
    width: 100%;
    height: auto;
    border-style: double;
    border-width: 5px;
}